<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookstory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookStory">
        <activity android:name=".activities.CommentsActivity"></activity>
        <activity android:name=".activities.ContactUsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="message/rfc822" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RecomandariActivity" />
        <activity android:name=".activities.AdminDashboardActivity" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.VizualizareImprumuturiActivity" />
        <activity android:name=".activities.ListaCartiUserActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.AdaugaCarteActivity" />
        <activity android:name=".activities.ListareCartiActivity" />
        <activity android:name=".activities.AddAuthorActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Firebase.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".notification.NotificationReceiver"></receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>